.jo-auto-complete__menu {
    position: relative;
    display: inline-block;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    z-index: 2000;
}
.jo-auto-complete__item {
    padding: 8px 12px;
    cursor: pointer;
}