.jo-auto-complete__menu {
    display: inline-block;
    padding: 8px 0;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    z-index: 500;
}
.jo-auto-complete__item {
    padding: 8px 12px;
    cursor: pointer;
}