.jo-radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.jo-radio__input {
    width: 0;
    height: 0;
}
.jo-radio__dot {
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.jo-radio:hover .jo-radio__dot,
.jo-radio__dot--checked {
    border-color: var(--background-color-checked);
}
.jo-radio__dot--checked::before {
    content: "";
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
    background-color: var(--background-color-checked);
    border-radius: 50%;
}
.jo-radio__label {
    display: inline-block;
    padding: 0 6px;
}