.jo-card {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.jo-card--bordered {
  border: 1px solid var(--border-color);
}
.jo-card--box-shadow {
  box-shadow: var(--box-shadow);
}
.jo-card__header {
  font-weight: 600;
  display: flex;
  align-items: center;
}
.jo-card__header-extra {
  display: flex;
  align-items: center;
}
.jo-card__header-content {
  flex: 1;
}
.jo-card__header,
.jo-card__content,
.jo-card__footer {
  padding: 12px 28px;
  background-color: var(--background-color);
}
.jo-card__header {
  padding: 20px 28px;
}
.jo-card__header + .jo-card__content,
.jo-card__footer {
  padding: 0 28px 20px;
}

.jo-card--segmented-header > .jo-card__header{
  border-bottom: 1px solid var(--border-color);
}

.jo-card--segmented-content > .jo-card__content{
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.jo-card--segmented-footer > .jo-card__footer{
  border-top: 1px solid var(--border-color);
}