.jo-tag {
    display: inline-flex;
    height: 28px;
    align-items: center;
    font-size: 14px;
    padding: 0 10px;
    background-color: var(--background-color);
    color: var(--font-color);
    border-radius: 3px;
}
.jo-tag__close {
    display: inline-flex;
    margin-left: 4px;
    cursor: pointer;
}