.jo-data-table__table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid var(--border-color);
  border-radius: 2px;
}
.jo-data-table__table th {
  text-align: inherit;
  background-color: var(--background-color-th);
}

.jo-data-table__table td {
  background-color: var(--background-color-td);
}

.jo-data-table__table th,
.jo-data-table__table td {
  padding: 10px 12px;
  border-bottom: 1px solid var(--border-color);
}
.jo-data-table__table tr:last-child td {
  border-bottom: none;
}

