.jo-drawer {
  position: fixed;
  background-color: var(--background-color);
  z-index: 2001;
}
.jo-drawer__header {
  border-bottom: 1px solid silver;
  padding: 16px 20px;
}
.jo-drawer__content{
  padding: 16px 20px;
}
.jo-drawer-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.3;
  z-index: 2000;
}

.jo-drawer--up,
.jo-drawer--down {
  left: 0;
  right: 0;
  height: 251px;
}
.jo-drawer--up {
  top: 0;
}
.jo-drawer--down {
  bottom: 0;
}

.jo-drawer--left,
.jo-drawer--right {
  top: 0;
  bottom: 0;
  width: 502px;
}
.jo-drawer--left {
  left: 0;
}
.jo-drawer--right {
  right: 0;
}
