.jo-dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 520px;
  padding: 20px 26px;
  position: fixed;
  box-sizing: border-box;
  z-index: 2001;
  background-color: var(--background-color);
  border-radius: 3px;
}

.jo-dialog__title {
  font-weight: bold;
  font-size: 16px;
}
.jo-dialog__head-close {
  float: right;
  cursor: pointer;
}
.jo-dialog__main {
  margin: 10px 0 20px;
}

.jo-dialog__positive {
  float: right;
}

.jo-dialog__mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #0007;
  z-index: 2000;
}

.jo-dialog__icon {
  margin-right: 8px;
}
