.jo-dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 520px;
  padding: 20px 25px;
  position: fixed;
  box-sizing: border-box;
  z-index: 101;
  background-color: var(--background-color);
  border-radius: 3px;
}

.jo-dialog__title {
  font-weight: bold;
}
.jo-dialog__head-close {
  float: right;
}
.jo-dialog__main {
  margin: 10px 0 20px;
}

.jo-dialog__determine,
.jo-dialog__close,
.jo-dialog__head-close {
  cursor: pointer;
  font-weight: bold;
}
.jo-dialog__determine {
  float: right;
}

.jo-dialog__mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #0007;
  z-index: 100;
}

.jo-dialog--error-type {
  color: #d03050;
}
.jo-dialog--success-type {
  color: #67c23a;
}
.jo-dialog--warning-type {
  color: #e6a23c;
}
