.jo-menu-item__content {
    position: relative;
    padding: 10px;
    padding-left: 14px;
    cursor: pointer;
}
.jo-menu-item__content:hover {
    color: #12aa9c;
}
.jo-menu-item__children {
    padding: 0 12px;
}
.jo-menu-item__content--selected {
    color: #12aa9c;
    background-color: #12aa9c2c;
    border-right: 2px solid #12aa9c;
}