.jo-code {
  font-size: 16px;
  font-family: v-mono, SFMono-Regular, Menlo, Consolas, Courier, monospace;
  line-height: 1.35;
}
/**
red: #c91243;
*/
.jo-code .hljs-comment,
.jo-code .hljs-quote {
    color: #a0a1a7;
}
.jo-code .hljs-literal {
    color: var(--light-blue-font-color);
}
.jo-code .hljs-built_in,
.jo-code .hljs-class .hljs-title {
  color: #c18401;
}
.jo-code .hljs-symbol,
.jo-code .hljs-bullet,
.jo-code .hljs-link,
.jo-code .hljs-meta,
.jo-code .hljs-selector-id,
.jo-code .hljs-title {
  color: var(--blue-font-color);
}
.jo-code .hljs-doctag,
.jo-code .hljs-keyword,
.jo-code .hljs-formula {
  color: var(--purple-font-color);
}
.jo-code .hljs-string,
.jo-code .hljs-regexp,
.jo-code .hljs-addition,
.jo-code .hljs-attribute,
.jo-code .hljs-meta-string {
  color: var(--green-font-color);
}
.jo-code .hljs-attr,
.jo-code.hljs-variable,
.jo-code .hljs-template-variable,
.jo-code .hljs-type,
.jo-code .hljs-selector-class,
.jo-code .hljs-selector-attr,
.jo-code .hljs-selector-pseudo,
.jo-code .hljs-number {
  color: var(--yellow-font-color);
}

.jo-code .hljs-section,
.jo-code .hljs-name,
.jo-code .hljs-selector-tag,
.jo-code .hljs-deletion,
.jo-code .hljs-subst {
  color: var(--red-font-color);
}
